.aktion-dropdown {
  position: absolute;
  top: 85px;
  z-index: 2;
  background: #000;
  padding: 3px;
  .content {
    background: #ffff00;
    color: black;
    padding-bottom: 3px;
    padding: 0 10px 3px 10px;
  }
  ::before {
    content: "";
    background: #000;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 10%;
    width: 3px;
  }
  ::after {
    content: "";
    background: #000;
    height: 5px;
    position: absolute;
    top: -5px;
    right: 10%;
    width: 3px;
  }
}
