.App {
  text-align: center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  .d-block {
    display: block;
  }
  .d-none {
    display: none;
  }
  input {
    border: none;
    border-bottom: 2px solid #4d0f0f;
    background: transparent;
    line-height: 30px;
    font-size: 1.2rem;
    font-family: "Be Vietnam";
    margin-bottom: 1rem;
  }
  .bg {
    background: #fff;
    opacity: 0.4;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
  }
  .main {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  .cl-red {
    color: red;
  }
  .cl-yellow {
    color: yellow;
  }
  .cl-white {
    color: white;
  }
  .btn-primary {
    background: #4d0f0f;
    color: white;
    border-radius: 15px;
  }
  .btn-primary:hover {
    background: #4d0f0f90;
    transition: ease-out 0.2s;
  }
  .btn-primary:focus,
  .btn-primary:active {
    background: #4d0f0f20;
  }
  .btn-secondary {
    background: #c4f7a1;
    color: black;
    border-radius: 15px;
  }
  .btn-secondary:hover {
    background: #c8d96f;
    transition: ease-out 0.2s;
  }
  .btn-secondary:focus,
  .btn-secondary:active {
    background: #a5b452;
  }
  .toggle {
    display: inline-block;
    margin-top: 0.5rem;
    height: 34px;
    position: relative;
    width: 60px;
  }
  .toggle input[type="checkbox"] {
    display: none;
  }
  .toggle .slider {
    background-color: #000;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    position: relative;
    border-radius: 50px;
  }
  .toggle .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    border-radius: 50px;
  }
  .toggle input[type="checkbox"]:checked + .slider {
    background-color: lightblue;
  }
  .toggle input[type="checkbox"]:checked + .slider:before {
    transform: translateX(26px);
  }
  .mt-1 {
    margin-top: 1rem !important;
  }
  .mt-2 {
    margin-top: 2rem !important;
  }
  .mt-3 {
    margin-top: 3rem !important;
  }
  .mt-4 {
    margin-top: 4rem !important;
  }
  .mt-5 {
    margin-top: 5rem !important;
  }
  .mb-1 {
    margin-bottom: 1rem !important;
  }
  .mb-2 {
    margin-bottom: 2rem !important;
  }
  .mb-3 {
    margin-bottom: 3rem !important;
  }
  .mb-4 {
    margin-bottom: 4rem !important;
  }
  .mb-5 {
    margin-bottom: 5rem !important;
  }
  .ml-1 {
    margin-left: 1rem !important;
  }
  .ml-2 {
    margin-left: 2rem !important;
  }
  .ml-3 {
    margin-left: 3rem !important;
  }
  .ml-4 {
    margin-left: 4rem !important;
  }
  .ml-5 {
    margin-left: 5rem !important;
  }
  .mr-1 {
    margin-right: 1rem !important;
  }
  .mr-2 {
    margin-right: 2rem !important;
  }
  .mr-3 {
    margin-right: 3rem !important;
  }
  .mr-4 {
    margin-right: 4rem !important;
  }
  .mr-5 {
    margin-right: 5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .App {
    min-height: 110vh;
    .bg {
      height: 110vh;
    }
  }
}
@media screen and (max-width: 450px) and (min-width: 360px) and (max-height: 800px) {
  .App {
    min-height: 131vh;
    .bg {
      height: 131vh;
    }
  }
}
@media screen and (max-width: 325px) {
  .App {
    min-height: 143vh;
    .bg {
      height: 143vh;
    }
  }
}
@media screen and (max-height: 600px) {
  .App {
    min-height: 150vh;
    .bg {
      height: 150vh;
    }
  }
}
